{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
{% endblock %}

{% block content %}
<h2>Add New Item</h2>
<form action="{{ url_for('main.add_item') }}" method="post">
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" min="0" required>
    <button type="submit">Add</button>
</form>
<a href="{{ url_for('main.list_items') }}" class="cta-button">Back to Items List</a>
{% endblock %}
